.card-container {
  background-color: #203031;
  width: 72%;
  position: absolute;
  right: 0;
  display: grid;

  margin: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  :hover {
    opacity: 80%;
    background-color: antiquewhite;
  }
}

@media screen and (max-width: 992px) {
  .card-container {
    background-color: #203031;
    width: 72%;
    position: relative;
    right: 0;
    display: grid;

    margin: 10px;
    grid-template-columns: 1fr 1fr;
  }
}
