@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:wght@300&family=Playfair+Display&family=Sigmar&display=swap");

$primary-font: Sigmar, sans-serif;

html {
  background-color: #203031;
}

.App {
  text-align: center;

  padding: 0;
  margin-top: 50px;

  display: grid;
  grid-row-end: auto;

  grid-template-columns: 1fr 1fr;

  background-color: #0090c1;
}

.app__heading {
  width: 99vh;
  display: flex;
  justify-content: center;
  font-family: $primary-font;
}

